/.config/discord/
/.config/dconf/user
/.config/evolution/
/.config/ibus/
/.config/tiling-assistant/
/.config/Electron/
/.config/gnome-session/
/.config/goa*
/.config/gtk*
/.config/nautilus/
/.config/update-notifier/
/.config/user-dirs.*
/.config/gnome-initial-setup-done
/.config/mimeapps.list
/.config/spotify/
/.config/systemd/
.config/vesktop/
.config/spicetify
.gitignore
